.l-flex
    display: flex
.l-align-center
    align-items: center
.l-flex-wrap
    flex-wrap: wrap
.l-sidebar
    background-color: #1F1F26
    min-width: 188px
.l-sidebar a
    text-decoration: none
.l-main
    width : 100%
.l-header
    height: 57px
    width: 100%
    display: flex
    flex-direction: row
.l-section
    margin: 32px 0
